<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_cadastro.css')}}">
    <title>Cadastro</title>
         
</head>
<body>
  {% extends "base.html" %}
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <span style="color:#fff;background-color:chartreuse;">{{ message }}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div style="float:left">
    <h2>   CADASTRO USUARIO</h2>
    <form method="POST" action="{{url_for('naturalweb.cadastrousuario')}}">
    <input name="user" type="text" placeholder="Nome">
    <br><br>
    <input name="password" type="password" placeholder="Senha"> 
    <br><br>
    <input name="password_confirm" type="password" placeholder="Confirmar a senha"> 
    <br><br>
      <button>Enviar</button> 
    </form>
    </div>  

  <div style="float:right;display: block; background-color: cyan;">
    <h2>  USUARIOS CADASTRADOS</h2>
    {% if usuarios %}
      {% for usuario in usuarios %}
      <span>{{usuario[0]}} - <a href="{{url_for('naturalweb.editarusuario',idusuario=usuario[0])}}" >{{usuario[1]}}</a> </span>
      {% endfor %}
    {% endif %}
  </div>

    {% endblock %}