<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style_cadastro.css')}}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
    $(function () {



      $.ajax({ url: "{{url_for('naturalweb.ajaxPesquisa')}}" }).done(function (data) {
        $("#pesquisa").autocomplete({
          source: data, minLength: 2, select: function (e, ui) {
            location.href = "/informacoesponto/" + ui.item.value;
          }
        }).autocomplete("instance")._renderItem = function (ul, item) {
          return $("<li>")
            .append("<div>" + item.label + "</div>")
            .appendTo(ul);
        };
      });




    });
  </script>
  <title>Cadastro</title>

</head>

<body>
  {% extends "base.html" %}
  {% block content %}

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <span style="color:rgb(190, 54, 54);background-color:chartreuse;">{{ message }}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>CADASTRO DE PONTO</h2>
    <form method="POST" action="{{url_for('naturalweb.cadastroponto')}}" enctype="multipart/form-data">
      <label>Título:</label>
      <input name="nomeponto" type="text" onkeyup="this.value = this.value.toUpperCase();" placeholder="Título"
        required>
      <br><br>
      <label>Tipo de ponto:</label>
      <select name="tipo">
        <option value="1">Turístico</option>
        <option value="2">Histórico</option>
      </select>
      <br><br>
      <label>Descricão:</label>
      <textarea name="descricao" rows="5" required></textarea>
      <label>Imagem:</label>
      <input name="nomeimg" type="file" required>
      <br><br>
      <button>Enviar</button>
    </form>
  </div>

  {% endblock %}