<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style_cadastro.css')}}">
    <title>Cadastro</title>
         
</head>
<body>
  {% extends "base.html" %}
    {% block content %}
 
<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  {% for message in messages %}
  <span style="color:rgb(172, 44, 44);background-color:chartreuse;">{{ message }}</span>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <h2>EDITAR PONTO</h2>
  <form method="POST" action="{{url_for('naturalweb.editaponto',idponto=ponto['idponto'])}}" enctype="multipart/form-data">
  <label>Título:</label>
  <input name="nomeponto" type="text" onkeyup="this.value = this.value.toUpperCase();" placeholder="Título" value="{{ponto['titulo']}}" required>
    <br><br>
    <label>Tipo de ponto:</label>
    <select name="tipo">
      {% if ponto["tipoponto"] == 1%}
      <option value="1" selected>Turístico</option>
      <option value="2">Histórico </option>
      {% else%}
      <option value="1">Turístico</option>
      <option value="2" selected>Histórico </option>
      {% endif %}
    </select>
    <br><br>
    <label>Descricão:</label>
    <textarea name="descricao" rows="5" required>{{ponto['descricao']}}</textarea>
    <img src="{{ponto['url']}}" width="200" height="150"></img>
    </br>
    <label>Imagem:</label>
    <input  name="nomeimg" type="file">
    <br><br>
    <button>Enviar</button>
  </form>
</div>
  
    {% endblock %}