<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Museu Natural Web</title>
      
    <style>
        h1 {
            text-align:center ;
        }
    
        .center {
            display: inline-block;
           margin-left: 100px;
        }       
    </style>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="container-img">
    <img class="center" src="https://i0.hippopx.com/photos/252/912/960/city-landscape-night-urban-landscape-preview.jpg" height="400" width="800"/>
    </div>
    {% endblock %}

</body>
</html>
