<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>imagens ponto historico</title>
    <style>
       h1 {
            text-align:center ;
        }
        .center {
            display: inline-block;
           margin-left: 100px;
           margin-top: 4%;
           }
        .container{
            display: flex;
        }
        .text{
            margin-top: 4%;
            margin-left: 2%;
        }    
        
    </style>
    

   
</head>
<body>
{% extends "base.html" %}
{% block content %}
    
<div class="container">
    <img class="center" src="{{ponto['url']}}" height="500" width="600" id="imagem"/>
    <div class="text">
        <h3>{{ponto["titulo"]}}</h3>
   {{ponto["descricao"]}}
    </p>
    </div>
</div>
{% endblock %}
</body>
</html>