<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>pontos turisticos</title>
    <style>
        h1 {
            text-align:center ;
        }
    </style>
    
    
</head>
<body>
{% extends "base.html" %}

{% block content %}
<div class="container-img">
    <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Praias_do_brasil.jpg/640px-Praias_do_brasil.jpg" height="400" width="500"/>
   <a href="imagens ponto turistico.html"> <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Recortes_da_natureza.jpg" height="400" width="500"/></a>
</div>
{% endblock %}

</body>
</html>