<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>pontos Históricos</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>

</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container-img">
        {% for p in pontos %}
        <a href="{{url_for('naturalweb.informacoes_ponto',idponto=p['idponto'])}}">
            <img class="center" src="{{p['url']}}" style="margin-left: 15px;margin-top: 15px;" height="200" width="300" /></a>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>