<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>pontos Históricos</title>
    <style>
        h1 {
            text-align:center ;
        }
    </style>

</head>

<body>
{% extends "base.html" %}
{% block content %}
<div class="container-img">
 <img class="center" src="https://static.todamateria.com.br/upload/57/fd/57fd059a71cd9-muralha-da-china.jpg" height="400" width="500"/>
   <a href="{{url_for('naturalweb.imagempontohistorico')}}" > <img class="center" src="https://cdn.pixabay.com/photo/2019/03/07/12/50/egypt-4040121_960_720.jpg" height="400" width="500"/></a>
</div>
{% endblock %}
</body>
</html>